* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

.col-md-4 {
  padding-right: 0;
  padding-left: 0; }

.btn {
  margin-right: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0; }

.button-info {
  padding: 15px 30px;
  font-size: 14px; }

h3 {
  text-transform: uppercase;
  margin-bottom: 0; }

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee; }

#header {
  position: fixed;
  width: 100%; }
  #header .navbar-toggler {
    z-index: 99999; }
  #header .nav-link {
    padding: 0 12px;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase; }
  #header .navbar-collapse .nav-link.active {
    color: #d6b161; }
  #header .navbar-collapse .nav-link:hover {
    color: #d6b161; }

#full-banner {
  height: 540px;
  background-image: url(https://picsum.photos/1024/1080/);
  background-size: cover;
  background-repeat: no-repeat; }
  #full-banner .intro {
    padding-top: 200px;
    color: #ffffff;
    text-transform: uppercase; }
    #full-banner .intro h1 {
      margin-bottom: 0;
      letter-spacing: 5px;
      font-size: 60px;
      font-weight: 300;
      line-height: normal; }
    #full-banner .intro h3 {
      letter-spacing: 6px;
      font-size: 20px; }
    #full-banner .intro .banner-button {
      margin-top: 50px;
      width: 100%; }
      #full-banner .intro .banner-button .btn {
        color: #d6b161;
        border-color: #d6b161;
        text-transform: uppercase; }
      #full-banner .intro .banner-button .btn-banner:hover {
        color: #ffffff;
        background-color: #d6b161; }

.page {
  padding: 100px 0;
  width: 100%; }

.page-intro {
  margin-bottom: 50px; }
  .page-intro img {
    margin-bottom: 30px; }
  .page-intro h3 {
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 24px; }
  .page-intro p {
    margin: 0 auto;
    padding-top: 30px;
    width: 60%;
    color: #7e7e7e;
    line-height: 25px; }
  .page-intro .button-page {
    margin-top: 50px;
    width: 100%; }
    .page-intro .button-page .btn {
      color: #ffffff;
      background: #222; }
    .page-intro .button-page .btn-page:hover {
      background-color: #d6b161;
      border-color: #d6b161; }

.services {
  padding: 100px 0;
  width: 100%; }
  .services h3 {
    margin-bottom: 50px; }
  .services .services-info {
    margin-left: -1px;
    margin-bottom: -1px;
    padding: 50px;
    border: 1px solid #f2f2f2; }
    .services .services-info i {
      padding-bottom: 30px;
      color: #323232;
      font-size: 36px; }
    .services .services-info h4 {
      margin-bottom: 20px;
      letter-spacing: 1px;
      font-size: 18px;
      text-transform: uppercase; }
    .services .services-info p {
      color: #7e7e7e; }
  .services .services-info:hover {
    color: #7e7e7e;
    background: #222;
    border: 1px solid transparent; }
    .services .services-info:hover h4 {
      color: #fff; }
    .services .services-info:hover i {
      color: #d6b161; }

.product {
  background-image: url(https://picsum.photos/1024/1080/);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .product .nav-product {
    padding: 100px 0; }
    .product .nav-product .nav-tabs {
      border-bottom: none; }
      .product .nav-product .nav-tabs a.nav-link.active {
        background-color: rgba(0, 0, 0, 0);
        border: none; }
      .product .nav-product .nav-tabs a.nav-link:hover {
        border: none;
        border-bottom: 1px solid #d6b161; }
  .product .nav {
    margin-bottom: 50px; }
    .product .nav li {
      padding: 0 30px; }
    .product .nav li i {
      display: block;
      margin-bottom: 10px;
      font-size: 55px; }
    .product .nav li a {
      padding: 10px 0;
      text-transform: capitalize;
      color: #fff; }
    .product .nav li .active {
      color: #d6b161; }
    .product .nav a:hover {
      color: #d6b161;
      border-bottom: 1px solid #d6b161; }
  .product .panel-body {
    display: none;
    padding: 15px;
    color: #ffffff; }
    .product .panel-body h3 {
      margin-bottom: 30px;
      line-height: 1.5;
      font-weight: normal;
      letter-spacing: 2px;
      text-align: left; }
    .product .panel-body p {
      margin-bottom: 30px;
      text-align: left; }

.row.panel-body.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.recent-work {
  padding: 100px 0;
  text-transform: uppercase; }
  .recent-work h3 {
    margin-bottom: 70px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: normal; }
  .recent-work li a {
    letter-spacing: 3px;
    color: #a9a8a8;
    font-size: 14px; }
  .recent-work li .active {
    color: #222; }
  .recent-work a:hover {
    color: #222; }
  .recent-work .recent-thumbnail {
    margin: 50px 0; }
    .recent-work .recent-thumbnail img {
      width: 100%; }
    .recent-work .recent-thumbnail .thumbnail {
      position: relative; }
    .recent-work .recent-thumbnail .cover {
      position: absolute;
      margin: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      opacity: 0;
      border: 20px solid rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.9); }
      .recent-work .recent-thumbnail .cover .cover-i {
        position: absolute;
        width: 100%;
        top: 10%;
        -webkit-transform: translateY(45%);
        -ms-transform: translateY(45%);
        transform: translateY(45%);
        font-size: 35px; }
      .recent-work .recent-thumbnail .cover .info {
        position: absolute;
        width: 100%;
        bottom: 0;
        -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
        transform: translateY(-55%); }
      .recent-work .recent-thumbnail .cover .info .title a {
        margin-bottom: 5px;
        letter-spacing: 4px;
        font-size: 14px;
        color: #222; }
      .recent-work .recent-thumbnail .cover .info p a {
        margin-bottom: 0;
        letter-spacing: 3px;
        color: #757575;
        font-size: 12px;
        font-weight: normal; }
      .recent-work .recent-thumbnail .cover .info a:hover {
        text-decoration: none;
        color: #d6b161; }
    .recent-work .recent-thumbnail .cover:hover {
      opacity: 1; }

.promo {
  padding: 60px 0;
  background: #222;
  text-transform: uppercase; }
  .promo span {
    color: #fff;
    font-size: 15px; }
  .promo h3 {
    color: #fff;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: normal; }
    .promo h3 span {
      letter-spacing: 1px;
      font-size: 24px;
      color: #d6b161; }
  .promo .promo-btn .btn {
    border-color: #333;
    background: #333;
    color: #ffffff;
    font-size: 14px; }
  .promo button.btn.btn-secondary.btn-lg.button-info:hover {
    background: #d6b161; }

.factor .row .fun-info {
  padding: 100px 0;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  text-transform: uppercase; }
  .factor .row .fun-info i {
    margin-bottom: 10px;
    color: #222;
    font-size: 36px; }
  .factor .row .fun-info h2 {
    margin-bottom: 0;
    color: #222;
    font-size: 36px;
    letter-spacing: 2px; }
  .factor .row .fun-info span {
    letter-spacing: 1px; }

.factor .fun-info.gray-bg {
  background-color: #f5f5f5; }

.post-list {
  padding: 100px 0;
  text-transform: uppercase; }
  .post-list .col-md-6 {
    padding: 0 30px; }
  .post-list img {
    width: 100%; }
  .post-list span {
    font-size: 16px;
    color: #d6b161;
    letter-spacing: 1px; }
  .post-list h4 {
    letter-spacing: 1px;
    font-size: 18px;
    color: #333;
    font-weight: normal; }
  .post-list p {
    margin-bottom: 30px;
    color: #7e7e7e;
    line-height: 30px;
    font-size: 15px; }
  .post-list .btn-small {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: normal;
    background: #222; }
  .post-list .btn-small:hover {
    border-color: #d6b161;
    background: #d6b161; }

.clients {
  padding: 100px 0; }
  .clients .clients-intro {
    margin-bottom: 100px; }
    .clients .clients-intro h3 {
      letter-spacing: 2px;
      font-weight: normal;
      line-height: 1.5;
      font-size: 24px; }
    .clients .clients-intro p {
      margin-bottom: 0;
      padding-top: 10px;
      color: #7e7e7e;
      line-height: 25px; }

#footer .footer-top {
  padding: 80px 0;
  background: #222; }
  #footer .footer-top .col-md-3 {
    padding: 0 30px; }
    #footer .footer-top .col-md-3 h5 {
      margin-bottom: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.5; }
    #footer .footer-top .col-md-3 .f-list {
      padding-left: 0; }
    #footer .footer-top .col-md-3 .f-list li {
      border-bottom: 1px solid #333; }
    #footer .footer-top .col-md-3 .f-list a {
      color: #a2a2a2;
      line-height: 45px; }
    #footer .footer-top .col-md-3 .f-list a::before {
      padding-right: 15px;
      content: ">"; }
    #footer .footer-top .col-md-3 .f-list a:hover {
      text-decoration: none;
      color: #d6b161; }
    #footer .footer-top .col-md-3 .r-list li a {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 0; }
    #footer .footer-top .col-md-3 p {
      margin-top: 20px;
      margin-bottom: 30px;
      line-height: 30px;
      color: #7e7e7e;
      font-size: 15px; }

#footer .footer-bottom {
  padding: 35px 0;
  width: 100%;
  border-top: 1px solid #2c2c2c;
  background: #1b1b1b; }
  #footer .footer-bottom span {
    display: inline-block;
    margin-top: 10px;
    color: #6f7273;
    font-size: 15px;
    line-height: 1.5;
    font-weight: normal; }
    #footer .footer-bottom span a {
      color: #fff; }
  #footer .footer-bottom .social-media ul {
    float: right; }
  #footer .footer-bottom .social-media li {
    float: left;
    position: relative;
    margin-left: 15px;
    border: 1px solid #5a5a5a;
    border-radius: 50%;
    width: 30px;
    height: 30px; }
  #footer .footer-bottom .social-media li:hover {
    background: #5a5a5a; }
  #footer .footer-bottom .social-media a {
    position: absolute;
    top: 15%;
    left: 15%;
    color: #5a5a5a;
    font-size: 15px; }
  #footer .footer-bottom .social-media a:hover {
    color: #fff; }

#go-to-top a > i {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: center;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff; }

#go-to-top a :hover {
  background: #d6b161;
  text-decoration: none;
  color: #333; }
